{% extends '::base.html.twig' %}

{% block body %}
    <div class="block text-center">
    <h1 ><strong>!!! 404 !!!</strong></h1></div>
    <div class="text-center">
        <img src="{{ asset('imgs/404.jpg') }}" alt="little pony"/>
    </div>
    <div class="block text-center">
        <h2>Erreur de chemin... Mais où veux tu aller petit poney?</h2>
    </div>
{% endblock %}