{% extends ('::base.html.twig') %}

{% block body %}
    <div class="row">
        <h1 class="text-center">Espace Admin</h1>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-3">
            <div class="list-group">
                <a href="{{ path('admin_index') }}" class="list-group-item">Accueil</a>
                <a href="#" class="list-group-item">Fiches à modérer <span class="label label-primary big pull-right">{{ validator.nbNotValidated() }}</span> </a>
                <a href="{{ path('admin_users_list') }}" class="list-group-item">Utilisateurs</a>
                <a href="#" class="list-group-item">Séries</a>
                <a href="#" class="list-group-item">Episodes</a>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9">
            {% block admin_content %}
            {% endblock %}
        </div>
    </div>
{% endblock %}