{% include 'tchat/content.html.twig' %}
</div>
<div class="panel-footer">
    {% if is_granted('ROLE_USER') %}
        <div class="input-group col-xs-12 chat-input">
            {{ form_start(form, {'attr': {'class': 'form-inline form-tchat'}}) }}
            <div class="input-group">
                {{ form_widget(form.message, {'attr': {'class': 'form-control chat-input'}}) }}
                <span class="input-group-btn">
                                <input type="submit" value="GO" class="btn btn-info" id="btn-send">
                              </span>
            </div><!-- /input-group -->
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    {% else %}
        <p>Connetez-vous pour poster.</p>
    {% endif %}
</div>
