
    {% for poster in posters %}

        <figure style="left: {{ (loop.index-1)*90 }}px;">
            <a href="{{ path('serie_show',{'serieId':poster.id}) }}">
                {% if poster.picture %}
                    <img src="{{ asset(poster.picture.url) }}" alt="{{ poster.name }}" width="80%" class="img-responsive">
                {% endif %}
            </a>
        </figure>

    {% endfor %}



{% block stylesheets %}

{% endblock %}