{% extends '::base.html.twig' %}
{% block breadcrumbs %}
    <a href="#" class="btn btn-bc">Dashboard</a>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-xs-12 rand-poster">
            {%  include ':wall:random_poster.html.twig' %}
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">Dernières séries</h3>
                </div>
                <div class="panel-body text-center">
                    {% include '::/wall/last_series.html.twig' %}
                </div>
            </div>
        </div>

        <div class="col-xs-12 col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">L'Actus de mes séries :</h3>
                </div>
                <div class="panel-body text-center">
                    {% include '::/wall/last_episodes.html.twig' %}
                </div>
            </div>
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <h3 class="panel-title">Ils ont commenté :</h3>
                </div>
                <div class="panel-body text-center">
                    {% include ':wall:last_critique.html.twig' %}
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-3" id="chat">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">On en parle:</h3>
                </div>
                <div class="panel-body text-center" id="chat-content">
                    {% include '::/wall/chat.html.twig' %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
