{% extends ('::base.html.twig') %}
{% block breadcrumbs %}
   {{ parent() }}
    <a href="#" class="btn btn-bc">Mon Compte</a>
{% endblock %}

{% block body %}
    <div class="block">
        {% block fos_user_content %}
        {% endblock fos_user_content %}
    </div>
{% endblock %}